<%= form_for(@order, url: orders_validate_path(@order), method: :post) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :billing_address %><br>
      <%= f.text_area :billing_address, size: '30x5', :class => "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :shipping_address %><br>
      <%= f.text_area :shipping_address, size: '30x5', :class => "form-control" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <label> Credit Card Number</label><br>
      <%= text_field :credit_card, :card_number, :class => "col-md-12" %>
    </div>
    <div class="col-md-4">
      <label> Expiry (mm/yyyy) </label><br>
      <%= text_field :credit_card, :expiry_date, :class => "col-md-12" %>
    </div>
    <div class="col-md-2">
      <label> CVV</label><br>
      <%= text_field :credit_card, :cvv, :class => "col-md-12" %>
    </div>
  </div>
  <hr>
  <div class="row actions">
    <div class="col-md-3 col-md-offset-3">
      <%= f.submit "Submit", class: "btn btn-block btn-primary" %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Cancel', orders_cancel_path(@order.id), class: "btn btn-block btn-default" %>
    </div>
  </div>
<% end %>