<div class="container">
  <div>
    <strong>Order Id:</strong>
    <%= @order.id %>
  </div>
  <div>
    <strong>Status:</strong>
    <%= @order.status %>
  </div>
  <%= link_to "Delete", @order, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>