<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Order Id </th>
      <th>billing_address </th>
      <th>shipping_address </th>
      <th>status</th>
      <th>User ID</th>
      <th>Subtotal</th>
      <th>Tax</th>
      <th>Total</th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= order.id %> </td>
        <td> <%= order.billing_address %> </td>
        <td> <%= order.shipping_address %> </td>
        <td> <%= order.status %> </td>
        <td> <%= order.user_id %> </td>
        <td> <%= order.subtotal %> </td>
        <td> <%= order.tax %> </td>
        <td> <%= order.total %> </td>
        <td> <%= link_to 'Show', order, class: "btn btn-xs btn-primary" %> </td>
      </tr>
    <% end %>
  </table>
</div>  