<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Shopping Cart</h1>
    </div>
    <div class="col-md-6">
      <%= link_to 'Continue Shopping ', products_path, class: "btn btn-info pull-right" %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th> Product Name </th>
      <th> Unit Price </th>
      <th> Quantity </th>
      <th class="text-right"> Subtotal </th>
      <th class="text-right"> Tax </th>
      <th class="text-right"> Total </th>
      <th></th>
    </tr>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td class='col-md-4'>
          <%= line_item.product.name %>
        </td>
        <td class='col-md-1'>
          <%= line_item.product.price %>
        </td>
        <td>
          <% if @order.status == 'cart' %>
            <%= form_for(line_item, url: line_item, method: :put) do |f| %>
              <%= f.text_field :qty, class: "col-md-9" %>
              <%= f.submit 'Change' %>
            <% end %>
          <% else %>
            <%= line_item.qty %>
          <% end %>
        </td>
        <td class="text-right"> $<%= line_item.product.price * line_item.qty %></td>
        <td class="text-right"> $<%= line_item.tax.round(2) %> </td>
        <td class="text-right"> $<%= line_item.total.round(2) %></td>
        <td>
          <%= link_to 'Remove', line_item, method: :delete,class: "btn btn-block btn-danger btn-xs" if @order.status == 'cart' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
        <strong> $<%= @order.subtotal.round(2) %></strong>
      </td>
      <td class="text-right">
        <strong> $<%= @order.tax %></strong>
      </td>
      <td class="text-right">
        <strong> $<%= @order.total.round(2) %></strong>
      </td>
      <td>
        <%= button_to 'Checkout', orders_checkout_path(@order), :method => :get, :class => "btn btn-block btn-info" if @order.status == 'cart' &&  @line_items.count > 0  %>
      </td>
    </tr>
  </table>

  <% if @order.status == 'checkout' %>
    <div class="user-details">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 name="add_div">Address &amp; Payment Details</h3>
        </div>
        <div class="panel-body">
          <%= render 'form_submit_info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

