<%= form_for(@category) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :name %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :thumburl %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :thumburl %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update category", class: "btn btn-primary"   %>
  </div>
<% end %>