<div class="container">
  <div>
    <strong>Name:</strong>
    <%= @category.name %>
  </div>
  <div>
    <strong>Thumburl:</strong><br>
    <%= image_tag @category.image.url(:medium) %>
  </div>
  <%= link_to "Delete", @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
