<%= form_for(@product) do |f| %>

  <div class="product_name">
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>   
  </div>
  <div class="description">
    <%= f.label :description %>
    <%= f.text_field :description %>  
  </div>
  <div class="price">
    <%= f.label :price %>
    <%= f.text_field :price %> 
  </div>
  <div class="thumburl">
    <%= f.label :thumburl %>
    <%= f.url_field :thumburl %>
  </div>
  <div class="category">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>
  <div class="tax_rate">
    <%= f.label :tax_rate %>
    <%= f.text_field :tax_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>