<p>
  <strong>Product name: <%= @product.product_name %></strong>

</p>

<p>
  <strong>Description: <%= @product.description %></strong>

</p>

<p>
  <strong>Price: <%= @product.price %></strong>

</p>

<p>
  <strong>Thumburl: <%= @product.thumburl %></strong>

</p>


<%= link_to 'Delete', @product, method: :delete %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
