<div class='container'>
  <h1>Listing products</h1>
  <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
  <hr>
  <% @products.in_groups_of(3).each do |products| %>
    <% products.select! {|x| !x.nil?} %>
    <div class='row'>
      <% products.each do |product| %>
        <div class='col-md-4'>
          <div class="thumbnail">
            <%= image_tag product.image.url(:thumb) %>
            <hr>
            <div class="caption">
              <strong>
                <span class="listing-title"><%= product.name %> |</span>
                <span class="listing-desc"><%= product.description %> |</span>
                <span class="listing-price"><%= number_to_currency(product.price) %></span>
              </strong>
              <div>
                <span><%= link_to "View", product_path(product.id) %> | </span>
                <span><%= link_to "Edit", edit_product_path(product.id) %> | </span>
                <span><%= link_to "Delete", products_delete_path(:id => product.id) %></span>
              </div>
              <div><%= render 'form_add_to_cart', locals: {product: product } %> </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>