<div class='container'>
  <table class="table ">
    <tr>
      <th>Product name:</th>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th>Price:</th>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <th>Product Image:</th>
      <td><%= image_tag @product.image.url(:medium) %></td>
    </tr>
  </table>
  <hr>
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-block btn-primary" %>
    </div>
    <div class="col-md-2"><%= link_to 'Back', products_path, class: "btn btn-block btn-warning" %></div>
  </div>
  <br>
</div>
