<div class='container'>
  <table class="table ">
    <tr>
      <th>Product name:</th>
      <td><%= @product.product_name %></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th>Price:</th>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <th>Thumburl:</th>
      <td><%= @product.thumburl %></td>
    </tr>
    <tr>
      <td><%= link_to 'Edit', edit_product_path(@product) %></td>
      <td><%= link_to 'Back', products_path %></td>
    </tr>
  </table>
</div>
